/* Basic jQuery Slider essential styles */
ul.bjqs li{transition: none;}
ul.bjqs{position:relative; list-style:none;padding:0;margin:0;overflow:hidden; display:none;}
li.bjqs-slide{position:absolute; display:none;}
ul.bjqs-controls{list-style:none;margin:0;padding:0;z-index:9999;}
ul.bjqs-controls.v-centered li a{position:absolute;}

ul.bjqs li div{background-repeat: no-repeat; background-position: center center; background-size:cover;}
